doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/style.css')
  body
    block content
    script(src='/script.js')
    script(src='/js/drawing.js')
    script(src='/js/wschat.js')
    script(src='/js/chat.js')
    script(src='/socket.io/socket.io.js')
