.wschat-log .system {
  color: #999;
  font-style: italic; }

.wschat-input {
  box-sizing: border-box;
  background: #eee;
  bottom: 0;
  height: 10%;
  padding: 20px;
  position: fixed;
  width: 100%; }
  .wschat-input .form-inline {
    text-align: center; }
    .wschat-input .form-inline textarea {
      width: 50%; }
